<div id="intro">
	<div id="intro-content">
		<h3>Software Engineering Graduate and Frontend Developer Intern</h3>
		<p>My name is Clara Lecroisey, I'm 23 years old and I'm a graduate <em>(alright not yet, but soon..)</em> from the French Engineering School IMT Atlantique (formerly Telecom BRETAGNE), with a Master of Engineering Degree in Software Engineering.</p>
		<p>Currently, I'm working as a Frontend Developer Intern at Streamroot in Paris.</p>
		<p>I love Web Development and programming in general. I also love to eat, to draw, my old cat and watching TV series from all over the world.</p>
	</div>
</div>
<div id="portfolio">
	<div id="portfolio-content">
		Check out my main projects:
		<ul>
			<li>Project 1</li>
			<li>Project 2</li>
			<li>Project 3</li>
		</ul>
	</div>
</div>
<div id="follow-me">
	<div id="follow-me-content">
		<p>Follow me on social media! 😊</p>
	</div>
</div>
